body {
  font-family: 'Lato', sans-serif;
  background-color: #2d0f4b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: url(assets/Cityscape-01.png);
  background-position: left bottom ;
  background-size: 25%;
  background-repeat: repeat-x;
}

h2 {
  opacity: 50%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacing {
  width: 100%;
  min-height: 20%;
  box-sizing: border-box;
}

.top{
  min-height: 15%;
}

.center {
  width: 100%;
  min-height: 65%;
  box-sizing: border-box;
}

.start-menu {
  color: #fc6262;
  flex-direction: column;
  height: 80%;
}

.start-menu > button {
  margin: 25px;
}

button {
  border: none;
  background: none;
  color: #fc6262;
  font-size: 20px;
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 10px #fc6262, 0 0 15px #571263;
}

button:hover {
  text-shadow: 0 0 20px #fc6262, 0 0 30px #571263;
}

.title {
  text-shadow:
    0 0 20px #3b1263,
    0 0 30px #571263,
    0 0 3px #fc6262;
  margin-bottom: 75px;
  font-size: 75px;
}

.instructions {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.instruction {
  box-sizing: border-box;
  width: 45%;
  height: 90%;
  padding:20px;
  border-radius: 5px;
  margin: 10px;
  box-shadow:
    0 0 10px #fc6262,
    0 0 15px #571263,
    inset 0 0 10px #fc6262,
    inset 0 0 15px #571263;
}

.return {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
}

.game {
  height: 100%;
  width: 100%;
}

.column {
  color: white;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.details {
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
  height: 70px;
}

.card {
  height: 280px;
  border-radius: 10px;
  border: 10px solid #651e60;
}

.left-card > img {
  box-shadow:
    0 3px 2px #fc626208,
    0 7px 5px #fc62620D,
    0 13px 10px #fc62620F,
    0 22px 18px #fc626212,
    0 42px 33px #fc626214,
    0 75px 50px #fc62621F;
}

.right-card > img {
  box-shadow:
    0 3px 2px #f0ed9b08,
    0 7px 5px #f0ed9b0D,
    0 13px 10px #f0ed9b0F,
    0 22px 18px #f0ed9b12,
    0 42px 33px #f0ed9b14,
    0 75px 50px #f0ed9b1F;
}

.text > * {
  font-family: 'Lato', sans-serif;
  margin: 5px;
}

.hidden {
  display: none;
}
