body {
  font-family: 'Lato', sans-serif;
  background-color: #2d0f4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
  min-height: 20%;
  box-sizing: border-box;
}

.center {
  /* border: 1px solid red; */
  width: 100%;
  min-height: 60%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-menu {
  color: #fc6262;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%
}

.start-menu > button {
  margin: 25px;
}

.title {
  margin-bottom: 75px;
  font-size: 75px
}

.instructions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}

.instruction {
  border: 1px solid red;
  box-sizing: border-box;
  width: 50%;
  height: 90%;
}

.return {
  border: 1px solid red;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.column {
  color: white;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  height: 70px;
  /* border: 1px solid red; */
}

.card {
  height: 280px;
  border-radius: 10px;
  border: 10px solid #651e60;
  box-shadow:
    0 3px 2px #00000008,
    0 7px 5px #0000000D,
    0 13px 10px #0000000F,
    0 22px 18px #00000012,
    0 42px 33px #00000014,
    0 75px 50px #0000001F;
}

.bottom {
  background-image: url(assets/Cityscape-01.png);
  background-repeat: repeat-x;
  background-size: contain;
}

.text {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}
